<div class="px-20 mt-16">
  <section class="flex flex-row justify-between mb-4">
    <h1 class="font-bold text-2xl text-neutral-700">Produtos</h1>
    <span class="text-sm font-bold text-blue-500">
      <a>Ver tudo </a>
      <span> -></span>
    </span>
  </section>
  <section>
    <div class="h-44 w-40 bg-slate-700"></div>
    <p class="text-neutral-700 mt-2">Produto XYZ</p>
    <p class="text-neutral-700 font-bold">R$ 50,00</p>
    <a class="text-blue-500 font-bold"> Ver produto</a>
  </section>
</div>
